/* Basic layout elements */
#writing {
  width: calc(100% * 2 / 3);
  height: 100vh;
  margin-left: calc(100% / 3);
  overflow-y: scroll;
  background-color: $background-gray;
  -webkit-overflow-scrolling: touch;

  @media #{$break-mobile-large} {
    background: transparent;
    width: 100%;
    margin-left: 0;
  }
}

#map {
  width: calc(100% / 3);
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;

  @media #{$break-mobile-large} {
    height: 100vh;
    width: 100%;
    display: block;
    position: fixed;
    z-index: -1;
  }
}

section {
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;

  // @media #{$break-mobile-large} {
  //   display: block;
  //   margin-bottom: 85vh;
  //   background: white;
  //   max-width: calc(100% - 40px);
  // }
}

section.active {
  opacity: 1;
}

section:last-child {
  border-bottom: none;
  margin-bottom: 200px;
}

.date {
  color: $mid-gray;
  line-height: 1.4rem;
  display: block;
}
