// Screen size
$break-mobile-large: "screen and (max-width: 767px)";

// Colors
$accent: #82b3ae;
$accent-hover: darken($accent, 15);
$border: lighten($accent, 25);
$background-gray: #fafafa;
$background-accent: lighten($accent, 30);

$black: #444444;
$mid-gray: #aaaaaa;
$light-gray: #dddddd;

$blue: #4d77be;

@mixin page-block {
  padding: 50px;
  background-color: $background-gray;
}
