footer {
  @include page-block;

  text-align: center;

  strong {
    color: $black;
    text-transform: uppercase;
  }

  p {
    color: $mid-gray;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;

    a {
      color: $mid-gray;
      text-decoration: underline;

      &:hover,
      &:active {
        color: $black;
      }
    }
  }
}
