.navigation {
  position: fixed;
  right: 0px;
  top: 5px;
  width: auto;
  opacity: 1;
  z-index: 5;
  padding: 10px;
  border-bottom: 0px;
  background: transparent !important;

  .toggle {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 22px;
    color: $mid-gray;

    &:after {
      content: "☰";
      position: absolute;
      right: 0px;
      top: 0px;
      padding: 2px 5px;
      border-radius: 3px;
    }

    &:hover {
      color: $black;
    }

    &.open:after {
      content: "✕";
    }

    @media #{$break-mobile-large} {
      color: $black;

      &:after {
        padding: 8px 10px;
        background-color: #ffffff;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .menu {
    display: none;
    margin-right: 40px;
    padding: 5px 10px;
    background: white;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    border-radius: 5px;

    &.open {
      display: block;
    }

    @media #{$break-mobile-large} {
      margin-right: 50px;
    }

    .menu-link {
      color: $accent;
      text-decoration: none;
      display: block;
      font-size: 0.8rem;
      line-height: 2rem;
      border-bottom: 1px solid $border;
      margin: 5px 0;
      &:last-child {
        border-bottom: 0;
      }

      &:hover {
        color: $accent-hover;
        i::after {
          background: $accent-hover;
        }
      }
    }
  }
}
