.region {
  h2 {
    @include page-block;

    background-color: $background-accent;
    color: $accent;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-bottom: 1px solid $border;
  }
}
