<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title><%= htmlWebpackPlugin.options.pageTitle %></title>
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />

    <meta
      property="og:title"
      content="<%= htmlWebpackPlugin.options.pageTitle %>"
    />
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.url %>" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />

    <!-- Mapbox GL styles -->
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css"
      rel="stylesheet"
    />

    <link href="/css/mapglyphs.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container" id="container">
      <!-- React mount point -->
    </div>
  </body>
</html>
